.title {
    color: #fff; 
  }
  tarjetas {
    height: 700px; 
    overflow: auto; 
  }
  
body {
    background-color: #0f4b86; 
  }
  .card {
    border: 1px solid #fcf801; 
    border-radius: 10px; 
    background-color: #fff; 
  }
  .card-header {
    border-bottom: 1px solid #fcf801; 
    background-color: #007bff; 
    padding: 10px; 
  }
  .card-title {
    color: #fff; 
  }
  .card-text {
    color: #6c757d; 
  }
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
  }
  .btn-primary:hover {
    background-color: #fceb07; 
    border-color: #0056b3; 
  }
  
  